@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@font-face {
    font-family: "impact_label_reversedregular";
    src: url("../../assets/fonts/Impact_Label_Reversed-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

a {
    @apply text-accent-600;
}

p {
    @apply mb-4;
}

@tailwind components;

@tailwind utilities;


body {
    font-family: "DM Mono", monospace;
}

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}


.badge {
    @apply text-xs bg-black-900 text-white py-1 px-2 mr-4
}

.badge a {
    @apply text-white
}